Hello {{user.name}},

<p>
  Thank you for signing up, before logging in you need to
  <a href={{confirmUrl}} target='_blank' rel='noopener noreferrer'>
    confirm your account
  </a>
  .
</p>

Thanks!